<phpunit bootstrap="./bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="All crossword tests">
            <directory>./CrosswordTest</directory>
        </testsuite>
    </testsuites>

    <filter>
        <blacklist>
            <directory suffix=".php">../tests</directory>
        </blacklist>
    </filter>
</phpunit>